# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/
.venv/
.env/
.env

# Ignore log files
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore assets directory if not needed in the Docker image
assets/

# Ignore any other unnecessary files or directories
.idea/
.vscode/
*.swp
