<!DOCTYPE html>
<html lang="en-us">
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="Description" content="All about technology.">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        Buddy Bot by @hoangndst
    </title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/hyde.css">>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

    <!-- Icons -->
    <link rel="shortcut icon" href="static/assets/kenshin.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/kenshin.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/kenshin.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/kenshin.png">
    <!-- <link rel="manifest" href="/assets/site.webmanifest"> -->
    <link rel="shortcut icon" href="static/assets/kenshin.png">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="atom.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    
</head>

<body class="sidebar">
    <img class="center" src="static/assets/kenshin.png"/>
    <p>Buddy has been activated</p>
    <!-- <a id='link1' href="http://www.google.com">Link</a> -->
    <a id='link1' href="https://script.google.com/macros/s/AKfycbytJPJX2vej-KNBn70v-G6OAHDSXn95ZRFV2gOljZ9KnzvosfM_ne-QysCdQ0bfYfSgtQ/exec"><button id='link1' type="button" onclick="myfunc()">Cập nhật ảnh các Homie</button></a>
    <script>
        $("#link1").on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.get(url, function() {
            });
        });
        function myfunc() {
          alert('Đã cập nhật, vào chat show ảnh thôi bro :3');
        }
    </script>
    
</body>
<script src="https://use.fontawesome.com/ba4ba69796.js"></script>


</html>